@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
    width: 940px;
    margin: 0 auto;
    background-color: beige;
}
#main {
    position: relative;
    padding-bottom: 50px;
}
#img-div {
    width: 31.9148936%; /* 300px / 940px */
    margin: 10px;
    float: left;
    display: block;
}
#image {
    
    height: auto;
    margin: 0 auto;
}
img {
    width: 100%;
    max-width: 100%;
    display: block;
}
h1 {
    font-family: 'Architects Daughter';
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tribute-link-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: ;
}
